.post {
  display: flex;
  flex-direction: column;
  background-color: pink;
  margin-bottom: 10px;
  padding: 15px;
  color: rgb(54, 54, 54);

  button:nth-child(2) {
    min-width: 113.64px;
  }

  &.deleted {
    pointer-events: none;
    opacity: 0.3;
  }

  .post-header {
    display: flex;
    justify-content: space-between;
    // background-color: aqua;
  }
}
