* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1,
h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  span {
    display: inline-block;
    width: 100px;
    text-align: center;
    // background-color: red;
  }
}

body > div > h1 {
  Button {
    padding: 5px 5px;
    vertical-align: text-bottom;
  }
}
